In [25]:
import pandas as pd

df = pd.read_excel('./census_2011.xlsx',header=0)
df.head()

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,JAMMU AND KASHMIR,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,JAMMU AND KASHMIR,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,JAMMU AND KASHMIR,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0

Task 1: Rename the Column names

In [26]:
df = df.rename(columns = { 
                            'State name' : 'State/UT','District name':'District',
                            'Male_Literate':'Literate_Male','Female_Literate':'Literate_Female',
                            'Rural_Households': 'Households_Rural','Urban_ Households' : 'Households_Urban',
                            'Age_Group_0_29': 'Young_and_Adult','Age_Group_30_49': 'Middle_Aged',
                            'Age_Group_50': 'Senior_Citizen', 'Age not stated': 'Age_Not_Stated'
                        })

df.head()

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,JAMMU AND KASHMIR,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,JAMMU AND KASHMIR,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,JAMMU AND KASHMIR,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0

Task 2: Rename State/UT Names

In [28]:
import re

df['State/UT'] =  df['State/UT'].str.title()

def isContainAnd(state):
    if state != "Andhra Pradesh" :
        if "And" in state:
            partten = r"\bAnd\b"
            new_value = re.sub(partten, "and", state)
            return  new_value
        else:
            return state
    else:
        return state

df['State/UT'] = df['State/UT'].apply(isContainAnd)

df.head()

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,Jammu and Kashmir,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,Jammu and Kashmir,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,Jammu and Kashmir,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,Jammu and Kashmir,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,Jammu and Kashmir,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0

Task 3: New State/UT formation

In [29]:
import docx

def getText(filename):
    doc = docx.Document(filename)
    fullText = []
    for para in doc.paragraphs:
        fullText.append(para.text)
    return fullText


telanganaDistric = getText(r'D:\capstone1\Telangana.docx')

print(telanganaDistric)

['Adilabad', 'Nizamabad', 'Karimnagar', 'Medak', 'Hyderabad', 'Rangareddy', 'Mahbubnagar', 'Nalgonda', 'Warangal', 'Khammam']

In [30]:
def setTelangana():
    for  i in telanganaDistric :
        df.loc[ df['District'] == i, 'State/UT'] ='Telangana'

setTelangana()

ladakhDistric= [
    "Leh(Ladakh)",
    "Kargil"
]

def setLadakh():
    for  i in ladakhDistric :
        df.loc[ df['District'] == i, 'State/UT'] ='Ladakh'


setLadakh()

df[df['State/UT'].str.contains('Ladakh')]

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
2,3,Ladakh,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,Ladakh,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0

In [ ]:
print(((df.isnull() | df.isna()).sum() * 100 / df.index.size).round(2))

In [ ]:

df['Population'].fillna(value=df['Male']+df['Female'],inplace=True)
df['Female'].fillna(value=df['Population'] - df['Male'], inplace=True)
df['Male'].fillna(value=df['Population'] - df['Female'], inplace=True)
df['Literate'].fillna(value=df['Literate_Male']+df['Literate_Female'],inplace=True)
df['Literate_Male'].fillna(value=df['Literate'] - df['Literate_Female'], inplace=True)
df['Literate_Female'].fillna(value=df['Literate'] - df['Literate_Male'], inplace=True)
df['ST'].fillna(value=df['Male_ST']+df['Female_ST'],inplace=True)
df['Male_ST'].fillna(value=df['ST'] -df['Female_ST'], inplace=True)
df['Female_ST'].fillna(value=df['ST'] -df['Male_ST'], inplace=True)
df['Workers'].fillna(value=df['Male_Workers']+df['Female_Workers'],inplace=True)
df['Male_Workers'].fillna(value=df['Workers'] -df['Female_Workers'], inplace=True)
df['Female_Workers'].fillna(value=df['Workers'] -df['Male_Workers'], inplace=True)

In [8]:
print(((df.isnull() | df.isna()).sum() * 100 / df.index.size).round(2))

District code                    0.00
State/UT                         0.00
District                         0.00
Population                       0.16
Male                             0.16
                                 ...
Power_Parity_Rs_330000_425000    5.16
Power_Parity_Rs_425000_545000    4.69
Power_Parity_Rs_330000_545000    3.59
Power_Parity_Above_Rs_545000     4.69
Total_Power_Parity               5.00
Length: 118, dtype: float64

Task  5: Save Data to MongoDB

In [33]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = your mongodb link

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
    print( client.server_info())
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!
{'version': '7.0.11', 'gitVersion': 'f451220f0df2b9dfe073f1521837f8ec5c208a8c', 'modules': ['enterprise'], 'allocator': 'tcmalloc', 'javascriptEngine': 'mozjs', 'sysInfo': 'deprecated', 'versionArray': [7, 0, 11, 0], 'bits': 64, 'debug': False, 'maxBsonObjectSize': 16777216, 'storageEngines': ['devnull', 'inMemory', 'queryable_wt', 'wiredTiger'], 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1717953235, 1), 'signature': {'hash': b'A \x03\x83X\x7fb<\xe9\xfaM\x0f\xa7x\x86#G\x1a\xa5\xda', 'keyId': 7346542375851786245}}, 'operationTime': Timestamp(1717953235, 1)}

In [34]:

def insertIntoMdb():
    if client['test'].list_collection_names != "" :
        myCollection = client['test']
        if myCollection['census'].find_one() != "":
            myCollection['census'].insert_many(df.to_dict("records"))
        else:
            print('No Collection inside DataBase')
            myCollection = client['census']
            myCollection['census'].insert_many(df.to_dict("records"))
    else:
        print('No DataBase')
        dp = client['test']
        myCollection = client['census']
        myCollection['census'].insert_many(df.to_dict("records"))
        print('excel insertion successfull!')

insertIntoMdb()

if1
nestedif1

Task 6: Database connection and data upload

In [52]:
import mysql.connector
mydb = mysql.connector.connect(
    host ="localhost",
    user='root',
    password =""
)
print(mydb)
mycursor = mydb.cursor(buffered=True)
#mycursor.execute('USE  test')

<mysql.connector.connection.MySQLConnection object at 0x000001E32DF79880>

In [ ]:
def creatdp(df):
    mycursor.execute('CREATE DATABASE IF NOT EXISTS census_db')

    listOfColumns = list()

    for i in df.columns:
        if i == 'District code':
            listOfColumns.append('District_Code INT PRIMARY KEY')
        elif i == "State/UT":
            listOfColumns.append('State_UT VARCHAR(50)')
        elif i == "District":
            listOfColumns.append('District VARCHAR(50)')
        elif i == "Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car":
            listOfColumns.append("Households_TV_Computer_Laptop_Telephone_mobile_phone_Scooter_Car INT")
        elif i == "Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households":
            listOfColumns.append("Type_of_latrine_facility_Night_soil_disposed_into_open_drain INT")
        elif i == "Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households":
            listOfColumns.append("Type_of_latrine_Flush_pour_connected_to_other_system_Households INT")
        elif i == "Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households":
            listOfColumns.append("Not_having_latrine_within_premises_Other_source_Open_Households INT")
        elif i == "Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households":
            listOfColumns.append("Source_of_drinking_water_Handpump_Tubewell_Borewell_Households INT")
        elif i == "Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households":
            listOfColumns.append("Drinking_water_Spring_River_Canal_Tank_Pond_Lake_Other_Household INT")
        else:
            listOfColumns.append(f'{i} INT')
    
    mycursor.execute(f'CREATE TABLE census_db.census_2011 ({", ".join(listOfColumns)})')
    mydb.commit()

creatdp(df)

In [46]:

def get_columns(table_name):
    mycursor.execute(f"DESCRIBE {table_name}")
    table_columns = []
    #print(mycursor)
    for i in mycursor:
        table_columns.append(i[0])

    return tuple(table_columns)

table_columns = get_columns('Census_db.census_2011')

print(table_columns)

In [ ]:
def db_insert_data(clients, df, table_columns):
    placeholders = ", ".join(["%s"] * len(table_columns))
    columns = ", ".join(table_columns)

    data = []

    for i in range(1,len(df)+1):
        for j in clients.find({'District code':i}):
            data.append(tuple(j.values())[1:])

    try :
        query = f'INSERT INTO Census_DB.Census_2011 ({columns}) VALUES ({placeholders})'
        mycursor.executemany(query, data)
    except Exception as e:
        print(e)

    mydb.commit()
my_dps = client['test']
mycolle = my_dps['census']
db_insert_data(mycolle, df, table_columns)